img{
    display: block;
    margin:auto;
    width : 20%;
    padding: 10vh;
}

[name="searchbar"]{
    display: block;
    margin: auto;
    width: 30%;
}
.buttons{
    text-align: center;

}
button{
    margin: 20px 5px;
}
.navbar{
    text-align:right;
}
.link{
    padding: 10px 5px;
    display: inline-block;
    font-size: 14;
    color: gray;
}
.bubble{
    display: inline-block;
    padding: 10px 10px;
    margin: 5px 8px;
    width: 15px;
    height: 15px;
    border: 3px;
    border-radius: 50%;
    background: darkred;
    text-align: center;
    color: white;

}